<!--Basic Scripts-->
<script src="/assets/js/jquery-2.0.3.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-dialog/js/bootstrap-dialog.min.js"></script>
<script src="/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

<!--Beyond Scripts-->
<script src="/assets/js/beyond.js"></script>
<script src="/js/util/util.js"></script>

