{{ range $key, $value := . }}
<section class="">
    {{if $value.isarray}}
        {{ range $key1, $data := $value.urls }}
            {{if  eq $key1 0}}
            <div class="{{$data.animate}}" style="display:block;{{$data.css}}"><img src='{{$data.url}}' style="width:100%;height:100%;"></div>
            {{else}}
            <div class="fragment {{$data.animate}}" style="display:block;{{$data.css}}"><img src='{{$data.url}}' style="width:100%;height:100%;"></div>
             {{end}}
        {{end}}
    {{else}}
        <img src='{{$value.url}}' style="width:100%;height:100%;">
    {{end}}
</section>
{{ end }}