{{ range $key, $value := . }}
<section >
    {{if $value.isarray}}
        {{ range $key1, $data := $value.urls }}
            <section><img src='{{$data}}' style="width:100%;height:100%;"></section>
        {{end}}
    {{else}}
        <img src='{{$value.url}}' style="width:100%;height:100%;">
    {{end}}
</section>
{{ end }}
{{if  eq (len .) 0 }}
<section >
    <span style="color:red;">没有页面!</span>
</section>
{{end}}
