<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <span class="widget-caption">目录列表</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="dd dd-draghandle darker">
                        <ol class="dd-list">
                            <li class="dd-item dd2-item" data-id="13">
                                <div class="dd-handle dd2-handle">
                                    <i class="normal-icon fa fa-android"></i>

                                    <i class="drag-icon fa fa-arrows-alt "></i>
                                </div>
                                <div class="dd2-content">First Level</div>
                            </li>

                            <li class="dd-item dd2-item" data-id="14">
                                <div class="dd-handle dd2-handle">
                                    <i class="normal-icon fa fa-facebook "></i>

                                    <i class="drag-icon fa fa-arrows-alt "></i>
                                </div>
                                <div class="dd2-content">Second Level</div>
                            </li>

                            <li class="dd-item dd2-item" data-id="15">
                                <div class="dd-handle dd2-handle">
                                    <i class="normal-icon fa fa-twitter "></i>

                                    <i class="drag-icon fa fa-arrows-alt "></i>
                                </div>
                                <div class="dd2-content">Third Level</div>

                                <ol class="dd-list" style="">
                                    <li class="dd-item dd2-item" data-id="16">
                                        <div class="dd-handle dd2-handle">
                                            <i class="normal-icon fa fa-google-plus "></i>

                                            <i class="drag-icon fa fa-arrows-alt "></i>
                                        </div>
                                        <div class="dd2-content">Sub Item 1</div>
                                    </li>

                                    <li class="dd-item dd2-item dd-colored" data-id="17">
                                        <div class="dd-handle dd2-handle bg-info">
                                            <i class="normal-icon fa fa-instagram"></i>

                                            <i class="drag-icon fa fa-arrows-alt "></i>
                                        </div>
                                        <div class="dd2-content bg-azure no-hover">Sub Item 2</div>
                                    </li>
                                    <li class="dd-item dd2-item" data-id="18">
                                        <div class="dd-handle dd2-handle">
                                            <i class="normal-icon fa fa-taxi"></i>
                                            <i class="drag-icon fa fa-arrows-alt"></i>
                                        </div>
                                        <div class="dd2-content">Sub Item 3</div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>